@charset "UTF-8";
/* tirar características em conflito */
body {
	color: black;
    font-family: Verdana;
    font-size: 16px;
    padding: 3px;
	background-image: url("../images/urf2.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
}

h1 {
    font-family: "Times New Roman";
 /* põe um risco laranja por baixo do título
    border-bottom: 3px solid #cc9900; */
    font-size: 50px;
/*    color: orange; */
    text-align: center;
	vertical-align: middle;
}

.myh {
	color: green;
	font-weight: bold;
	text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

a:hover {
	color: orange;
}

#header{
	color: yellow;
	font-family: "Courier New";
/*	width: 100%; */
	height: auto;
/*	border: 1px solid #000; */
/*	padding: 100px; */
	margin-bottom:16px;
/*	background-image: url("../images/duke.waving.gif"); */
	background-color: green;
}

#menu {
	float:left;
}

#content{
	padding: 20px;
	float:left;
	color: black;
	width: 75%;
	height:400px;
/*	margin-right:16px; */
	margin-bottom:16px;
	/*border: 1px solid #000;*/
	background-color: white;
}

#footer{
/*	position: fixed; */
/*	width: 100%; */
/*	height:100px; */
	border: 1px solid #000;
	background-color:green;
    color:white;
    clear:both;
    text-align:center;
   	padding:5px;	 	 
}

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
  padding: 6px 15px;
}
#cssmenu {
  width: 200px;
}
#cssmenu > ul > li > a {
  font-size: 13px;
  display: block;
  color: #00ff00;
  text-shadow: 0 1px 1px #000;
/*  background: linear-gradient(#64676e 0%, #4c4e53 100%); */
  background: linear-gradient(#000000 0%, #444444 100%);
}

#myImg {
	display: block;
    margin-left: auto;
    margin-right: auto; */
    /*	padding: 20px; */
	width: 100%;
	border-width: thick;
	border-color: GreenYellow;
	border-style: solid;
	margin: 20
}

#titulofoto {
	margin: 5px;
	text-align: center;
	font-family: "Helvetica";
	color: green;
	font-size: 10pt; 
	font-weight: bold;
}